body
  color red
  padding 100.5px
  margin 10px .5px

  @media (min-width 1000px) {
    display block
  }

proportional(max-width 1500px, .75)

html
  padding 20px
  cursor default

proportional(max-width 1300px, .5)